<?xml version="1.0"?>
<configuration>
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
		</startup>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WPFToolkit.Extended" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.7.4644.13122" newVersion="1.7.4644.13122" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>
